header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: var(--title-color);
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
