.nav {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var (--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__link--current {
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--accent-color);
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
  fill: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contacts__icon {
  margin-right: 10px;
}
