.subscribe-box {
  margin-left: 93px;
}

.subscribe {
  display: flex;
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  color: var(--title-color);
  background: transparent;

  outline: none;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: var(--title-color);
}

.subscribe-btn:hover {
  fill: var(--accent-color);
}

.subscribe-icon {
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
